body {
    margin: 0;
    background-color: black;
}

p {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 2px solid white;
    background-color: rgb(46, 41, 63);
    color: rgb(223, 217, 217);
    font-family: sans-serif;
}

.hamburger-menu {
    display: none;
}

h1 {
    font-weight: 300;
    font-size: 30px;
}

ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 25px;
    margin: 0;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: rgb(223, 217, 217);
}

li select {
    background-color: rgb(46, 41, 63);
    color: rgb(223, 217, 217);
    height: 25px;
    font-size: 20px;
}

li button {
    background-color: rgb(46, 41, 63);
    border: none;
    color: grey;
    font-size: 25px;
}

form input,
button {
    background-color: white;
    height: 50px;
    border-radius: 7px;
}

.search-container {
    display: flex;
    max-width: fit-content;
    gap: 5%;
}

.form-input {
    width: 75%;
    font-size: 20px;
    padding-left: 20px;
}

.search-button-container {
    width: 25%;
    display: inline-block;
    background-color: rgb(46, 41, 63);
    color: green;
    border: 2px solid green;
    font-size: 20px;
    font-weight: 400;
}

.search-icon {
    display: none;
}



@media (max-width:860px) {
    h1 {
        display: none;
    }

    .search-button-container {
        width: fit-content;
        background-color: green;
    }

    .search-text {
        display: none;
    }

    .search-icon {
        display: block;
        height: 30px;
        width: 30px;
    }
}

@media (max-width:768px) {

    h1,
    ul,
    .search-container {
        display: none;
    }

    nav {
        justify-content: center;
    }

    .hamburger-menu {
        display: block;
    }
}