body,
html {
    margin: 0;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100%;
    gap: 2.5vw;
}

#yellow,
#red,
#green,
#orange,
#blue {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 252, 87);
    width: 12.5vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#yellow p,
#red p,
#green p,
#orange p,
#blue p {
    margin: 0;
    font-size: larger;
    padding-bottom: 4vh;
}

#yellow ul,
#red ul {
    display: flex;
    flex-direction: column;
    gap: 4vh;

}

#yellow li,
#red li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 15vh;
    width: 4vw;
}

#red {
    background-color: rgb(252, 133, 133);
}

#red p,
#orange p {
    margin-right: auto;
    margin-left: 4vw;
}

#green,
#orange,
#blue {
    justify-content: flex-start;
    padding-top: 10vh;
    background-color: rgb(100, 248, 100);
}

#orange {
    width: 40vw;
    background-color: rgb(255, 207, 119);
}

#blue {
    background-color: rgb(121, 181, 250);
}