:root {
  --bg-color: #011212;
  --ball-dimentions: 100px;
  --ball-color: #ff8800;
  --ball-radius: calc(
    var(--ball-dimentions) / 2
  ); /* esto lo que hace es que sin importar el valor de --ball-dimention, siempre será una circunferencia */
}

body {
  background-color: var(--bg-color);
}

.ball {
  height: var(--ball-dimentions);
  width: var(--ball-dimentions);
  border-radius: var(--ball-radius);
  background-color: var(--ball-color);
}
